#=================#
# Unity generated #
#=================#
Temp/
Obj/
UnityGenerated/
Library/

#==============#
# OS generated #
#==============#
.DS_Store
.DS_Store?
._*
Icon?
ProjectSettings.asset
ProjectVersion.txt
ProjectSettings/
Logs/
